{{ ansible_managed | comment }}

# Trust given host certificate
{# add check mode template generation #}
{% if not _found_ssh_hostkeys_certs is defined %}
# << Will be generated >>
# HostCertificate /etc/ssh/<< unknown >>
# ....
{% else %}
{% for key in _found_ssh_hostkeys_certs %}
HostCertificate /etc/ssh/{{ key }}
{% endfor %}
{% endif %}

{% if ssh_permit_root_login %}
#PermitRootLogin prohibit-password
{% else %}
PermitRootLogin no
{% endif %}

PubkeyAuthentication yes

# Trust our CAs
TrustedUserCAKeys {{ ssh_trusted_user_ca_keys_file }}

AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u

# To disable tunneled clear text passwords, change to no here
PasswordAuthentication no
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
KbdInteractiveAuthentication no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the KbdInteractiveAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via KbdInteractiveAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and KbdInteractiveAuthentication to 'no'.
UsePAM yes

AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
{% if ssh_print_motd %}
#PrintMotd yes
{% else %}
PrintMotd no
{% endif %}
{% for match_directive in ssh_match_directives +%}
# Override default settings for some users

{% if match_directive.note is defined %}# {{ match_directive.note }}{% endif +%}
Match {{ match_directive.rule }}
{% for outcome in match_directive.results %}
  {{ outcome }}
{% endfor %}
{% endfor -%}

